<div class="wrapper">
    <header class="main-head"></header>
    <nav class="main-menu">
      <ul>
        <li>
          <a href="/mural-chamados">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text"> Chamados </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="/solicitar-item.html">
            <i class="fa fa-laptop fa-2x"></i>
            <span class="nav-text"> Solicitar item </span>
          </a>
        </li>
      </ul>
      <ul class="logout">
        <li>
          <a href="/login.html">
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text"> Sair </span>
          </a>
        </li>
      </ul>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text"> Forms </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text"> Pages </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-bar-chart-o fa-2x"></i>
          <span class="nav-text"> Graphs and Statistics </span>
        </a>
      </li>
    </nav>
    <article class="content">
      <h1 class="chamados">Chamados</h1>
 
  
      <!-- MODAL NOVO CHAMADO -->  
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
      data-bs-whatever="@mdo">
      Novo Chamado
    </button>
  
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Novo Chamado</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">  
            <form>
              <div class="form-floating">
                <select id="departamento" class="form-select">
                  <option></option>
                  <option vlaue="suspensao">TI</option>
                  <option value="advertencia">CAL</option>
              </select>
              <label id="departamento" oninput="Update(this.value,'departamento')">Departamento</label>
                
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label" oninput="Update(this.value,'assunto')">Assunto:</label>
                <input type="text" class="form-control" id="assunto" />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"oninput="Update(this.value,'message')">Message:</label>
                <textarea class="form-control" id="message"></textarea>
              </div>
            </form>
            <div class="row">
              <div class="col">
                  <label for="formFile" class="form-label"></label>
                  <input class="form-control" type="file" id="formFile">
              </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" id="insertBtn" class="btn btn-primary">Inserir</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- FIM DO MODAL NOVO CHAMADO-->
      <hr />
      <div class="chamadoAberto">
        <div *ngFor="let chamado of chamados">
        <a href="#" title="Ver os detalhes">
          <h4 id="assuntoChamado">#{{chamado.id}}: {{chamado.assunto}}</h4>
          <p>{{chamado.mensagem}}</p>
        </a>
      </div>
    </div>
    </article>
    <aside class="side">
        <div class="search-container">
            <form>
                <fa-icon [icon]="faSearch"></fa-icon>
                <input type="text" placeholder="Pesquisar..."  (input)="search($event)"/>
            </form>
     
      <button type="submit" class="btn btn-secondary">Buscar</button>
      </div>
    </aside>