<section class="lista-chamados">
<div *ngFor="let chamado of chamados">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/img/{{chamado.foto}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{chamado.assunto}}</h5>
      <p class="card-text">{{chamado.mensagem}}.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Codigo Chamado: {{chamado.id}}</li>
      <li class="list-group-item">Departamento: {{chamado.departamento}}</li>
      <li class="list-group-item">Loja {{chamado.loja}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
</section>