.lista-chamados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    margin-top: 100px;
}

.lista-chamados .card {
    margin: 10px 30px;
  
}
.card-body{
    width: max-content;
   
}
.search-container{
    margin-bottom: 2em;
    width: 100%;
  }
  .search-container form {
    width: 30%;
    position: relative;
  }
  
  .search-container fa-icon {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .search-container input {
    padding: .5em;
    text-align: center;
  }