<header class="main-head">
    <div class="wrapper">
       
        <nav class="main-menu">
          <ul>
            <li>
              <a routerLink="/mural-chamados">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text"> Chamados </span>
              </a>
            </li>
            <li class="has-subnav">
              <a routerLink="/painel">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text"> Solicitar item </span>
              </a>
            </li>
          </ul>
          <ul class="logout">
            <li>
              <a href="/login.html">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text"> Sair </span>
              </a>
            </li>
          </ul>
          <li class="has-subnav">
            <a href="#">
              <i class="fa fa-list fa-2x"></i>
              <span class="nav-text"> Forms </span>
            </a>
          </li>
          <li class="has-subnav">
            <a href="#">
              <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text"> Pages </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-bar-chart-o fa-2x"></i>
              <span class="nav-text"> Graphs and Statistics </span>
            </a>
          </li>
        </nav>
        </div> 
    </header>
    